body {
    font-family: Arial, Helvetica, sans-serif;
}

.canais {
    border: 2px solid rgb(128, 0, 70);
    border-radius: 10px;
    padding: 10px;
}

.canais>button {
    padding: 5px;
    margin: 5px;
    font-size: larger;
    background-color: rgb(161, 160, 160);
    color: black;
    border-color: aqua;
    border-radius: 8px;
}

#botao-atualizar{
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    font-size: larger;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    border-color: rgb(140, 0, 255);
    border-radius: 8px;
}

#canal_atual_texto{
    font-size: large;
}