body {
    font-family: Arial, Helvetica, sans-serif;
}

.canais {
    border: 2px solid rgb(128, 0, 70);
    border-radius: 10px;
    padding: 10px;
}

.canais>button {
    padding: 5px;
    margin: 5px;
    font-size: larger;
    background-color: rgb(161, 160, 160);
    color: black;
    border-color: aqua;
    border-radius: 8px;
}